[user]
	name = Hannes Probst
	email = hannes.probst@mercedes-benz.io
[color]
  ui = true
[push]
  default = simple
  followTags = true
[help]
  autocorrect = 1
[status]
  showUntrackedFiles = all
[core]
  fileMode = false
[filter "lfs"]
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f